<html lang="en">
  <head>
    <title>SocialMediaClassroom</title>
    <script type="text/javascript" src="{{_base_url}}/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{_base_url}}/static/js/jquery-ui-1.10.2.custom.min.js"></script>
    <link rel="stylesheet" href="{{_base_url}}/static/css/smoothness/jquery-ui-1.10.2.custom.css" type="text/css" media="screen" title="STUFF">
    <script type="text/javascript" src="{{_base_url}}/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="{{_base_url}}/static/css/bootstrap.css" type="text/css" media="screen" /> 
    {% block javascript %}{% endblock %}
  </head>
  <body>
	  {% for flash in boss_flash %} <div class="alert alert-block"><button type="button" class="close" data-dismiss="alert">&times;</button><h4>{{ flash.title }}</h4>{{ flash.message }} </div>{% endfor %}
    {% block content%}{% endblock %}
  </body>
