{% extends "layout/application.html" %}
{% block content %}
<h2>{{blog_post.title}}</h2>
<p>{{blog_post.body}}</p>
{% if blog_post.blog_post_comments %}
<div class="span6">
  <h3>Comments</h3>
    <uli class="comments">
      {% for blog_post_comment in blog_post.blog_post_comments %}
      <li><div class="span6"><h4>{{blog_post_comment.title}}</h4><p>{{blog_post_comment.body}}</p></div></li>
      {% endfor %}
    </ul>
 </div>
 {% endif %}
 <form method="post">
	 Subject:<br />
	 <input name="title" /><br /><br />

	 Comment:<br />
	 <input name="body" /><br /><br />
	 <input type="submit" value="Post comment" />
	 <input type="hidden" name="redirect" value="{{ redirect|default_if_none:"/blog_post/show" }}" />
 </form>
{% endblock %}
